@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 0;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  padding: 20px 137px 20px 135px;
  justify-content: space-between;
  align-items: center;
}

.header__search {
  flex: 1 0 auto;
  margin: 0 39px 0 40px;
}

.header__profile {
  padding-left: 12px;
  position: relative;
}

.header__profile::before {
  content: "";
  background: #ebebf1;
  width: 1px;
  height: 80px;
  position: absolute;
  top: -20px;
  left: 0;
}

.header__profile-icon {
  display: none;
}

@media screen and (max-width: 1439px) {
  .header {
    padding: 20px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    flex-wrap: wrap;
    padding: 0;
  }
  .header__logo {
    margin: 17px 21px;
  }
  .header__profile-icon {
    display: inline-block;
    margin: 0 21px 0 0;
  }
  .header__search {
    order: 10;
    flex: 1 0 100%;
    margin: 0;
  }
}

.search {
  position: relative;
}

.search__label {
  position: absolute;
  content: "";
  background: url("../img/search-icon.svg") center center;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  transform: translate(0%, -50%);
}

.search__input {
  max-height: 40px;
  border: 1px solid #ebebf1;
  border-radius: 5px;
  padding: 12px 0 12px 39px;
  font-size: 14px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .search__input {
    padding: 10px 0 2px 48px;
  }
  .search__label {
    transform: translate(0, 0);
    top: 11px;
    left: 24px;
  }
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__name {
  font-size: 14px;
  margin: 10px;
  color: #768298;
}

@media screen and (max-width: 767px) {
  .profile {
    display: none;
  }
}

.main {
  padding: 76px 135px;
}

.main__title {
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase;
  color: #121920;
  margin: 0 0 38px 0;
}

@media screen and (max-width: 1439px) {
  .main {
    padding: 75px 20px;
  }
  .main__title {
    font-size: 28px;
  }
}

.partners {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.partners__item {
  flex: 0 0 25%;
  padding: 0 15px;
  margin: 0 0 30px 0;
  cursor: pointer;
}

.partners__item:nth-last-child(1) {
  margin: 0;
}

@media screen and (min-width: 1440px) {
  .partners__item:nth-child(4n) {
    margin: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .partners__item {
    margin: 0 0 20px 0;
    padding: 0 10px;
    flex: 0 0 33.3%;
  }
  .partners__item:nth-child(3n) {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .partners__item {
    display: block;
    margin: 0 0 20px 0;
    width: 100%;
    padding: 0;
  }
}

.partners .partners__item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border: 1px solid #ebebf1;
  border-radius: 5px;
}

.partners .partners__item-wrapper:hover {
  box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(164, 164, 164, 0.03);
}

@media screen and (max-width: 767px) {
  .partners .partners__item-wrapper {
    height: 140px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .partners {
    margin: 0 -10px;
  }
}

@media screen and (max-width: 767px) {
  .partners {
    display: block;
    margin: 0;
  }
}
